* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    }

header, 
footer {
    background-color: #6C63FF;
    height: 80px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #2F2E41;
    text-align: center;
    margin-bottom: 70px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.card {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    width: 330px;
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

 a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
 }

 .card-img {
    margin: 40px 0 36px;
    height: 200px;
 }

 .container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
 }

 .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
 }

 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
 }

li a {
    display: flex;
    align-items: center;
}

li a img {
    margin-right: 10px;
}

section {
    padding: 100px 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    section {
        padding: 46px 0 50px;
    }

}

@media (max-width: 360px) {
    h1 {
        font-size: 28px;
    }
}